magento==3.1
cachetools==2.1.0
Markdown==3.1
newrelic==4.18.0.118
num2words==0.5.9
pycryptodome==3.8.1
uszipcode==0.2.2
ptipython==1.0.1
redis==3.2.1
minio==4.0.18
python-json-logger==0.1.11
statsd==3.3.0

