# 2022-10-1 Jared Kipe - get warning if this package isn't installed from ir.actions.report
pylibdmtx==0.1.10
####
suds-jurko==0.6
magento==3.1
cachetools==5.2.0
Markdown==3.1
newrelic==8.0.0.179
num2words==0.5.9
pycryptodome==3.12.0
boto3==1.20.24
# uszipcode requires pinned SQLAlchemy
SQLAlchemy==1.3.23
uszipcode==0.2.6
ptipython==1.0.1
redis==3.5.3
minio==5.0.10
python-json-logger==0.1.11
statsd==3.3.0
firebase-admin==3.2.1
# Hibou Athene - WebIDE Dev
python-language-server==0.36.2
flake8==6.0.0
autopep8==2.0.2
# pylint-odoo requires 2.15.* as of 2023-06-01
pylint==2.15.*
pylint-odoo==8.0.19

